@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+JP:wght@200&family=Pacifico&family=Poppins:wght@300&family=Preahvihear&family=Quicksand:wght@300..700&display=swap');

*{
  box-sizing:border-box;
}
html{
  font-size: 18px;
}
body{
  margin: 0;
  font-family: Quicksand, sans-serif;
}
